body {
  font-family: 'Oswald', sans-serif;
  color: aliceblue;
  background-color: rgb(8, 8, 8);
}
.explanation{ 
  padding: 3%;
  margin: 3%;
}
#example {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain
}
#main-page {
  margin: 0%;
}
/* CSS pretaining to the main tab */
#search-image {
  height: 16px;
  width: 16px;
}
#search-button {
  width: 30px;
  height: 30px;
  border: solid rgb(50, 50, 50) 2px;
  border-radius: 15%;
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}
#search-button:hover {
  cursor: pointer;
  background-color: rgb(28, 28, 28);
}
#wrapper-hide-on-start {
  display: none;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

#center-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 1%;
}

#last-connection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 50, 50);
  border: 5px solid rgb(50, 50, 50);
  margin: 10px;
  border-radius: 7%;
  height: 250px;
  width: 250px;
}
#album-cover {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px -2px black;
}
.strike-image {
  height: 20px;
  width: 20px;
  margin: 1px;
  margin-top: 0px;
  display: none;
}
#strikes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#strike-system-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: rgb(83, 13, 13) solid 2px;
  width: 100px;
  height: 24px;
  background-color: rgb(83, 13, 13);
  border-radius: 5px;
  margin-top: 0px;
}
#connection-box{
  border: rgb(28, 28, 28) 2px solid;
  background-color: rgb(28, 28, 28);
  width: 250px;
  height: 74px;
  border-radius: 15px;
  margin: 10px;
}
#timer-container{
  margin-bottom: 10px;
}
#last-connection {
  margin: 0px;
  margin-bottom: 3px;
}
#last-connection-artist {
  margin: 0px;
  margin-bottom: 3px;
}
#button-game-start {
  width: 300px;
  height: 100px;
  border: transparent;
  border-radius: 50px;
  background-color: rgb(38, 11, 49);
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  color: aliceblue;
  box-shadow: 5px 5px 20px -2px black;
  transition-duration: 0.4s;
}
#button-game-start:hover {
  background-color: rgb(167, 44, 216);
  color: black;
  cursor: pointer;
}
#search-bar-container {
  width: 325px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-bar-wrapper {
  display: flex;
  flex-direction: row;
}
.search-bars {
  width: 150px;
  height: 30px;
  border: transparent;
  border-radius: 5px;
  text-align: center;
  font-size: medium;
  margin-right: 2px;
  margin-left: 2px;
}
#search-results-ul {
  height: 400px;
  width: 325px;
  overflow:auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px
}
::-webkit-scrollbar-track {
  border: 1px solid rgb(28, 28, 28);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 50);
  border-radius: 10px;
}
.search-result-li {
width: 300px;
height: 30px;
overflow-x: hidden;
text-overflow: ellipsis;
white-space: nowrap;
transition-duration: 0.4s;
display: flex;
flex-direction: column;
align-items: flex-start;
margin-left: -32px;
}
.search-result-li:hover {
  cursor: pointer;
  background-color: rgb(28, 28, 28);
}
#right-tab, #left-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 11, 49);
  border: 5px solid rgb(38, 11, 49);
  box-shadow: 5px 5px 20px -2px black;
  border-radius: 50px;
  margin: 1%;
  width: 32%;
}
#score-display-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* CSS pretaining to the past connection section */

#history-display {
  border: 2px transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 80%;
  height: 60%;
  overflow:auto;
  overflow-x: hidden;
  background-color: rgb(28, 28, 28);
  box-shadow: 5px 5px 20px -2px black;
}
.past-connection-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
}
.past-connection-album-title {
  margin-top: 4%;
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
#error-message{
  display: none;
  color: red;
}
@media only screen and (max-width: 600px) {
  #main-page {
    flex-direction: column;
  }
  #right-tab, #left-tab {
    width: auto;
    height: auto;
  }
  #button-game-start {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}